<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
   <div>
      <a href="/me/courses">Quay lại</a>
      <h3>Khoá học đã xoá</h3>

      <div class="mt-4 d-flex align-items-center">
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check-all">
            <label class="form-check-label" for="check-all">
               Chọn tất cả
            </label>
         </div>

         <select name="action" class="form-select form-select-sm checkbox-select-all-options" aria-label=".form-select-sm example" required>
            <option value="">-- Hành động --</option>
            <option value="force-delete">Xoá vĩnh viễn</option>
            <option value="restore">Khôi phục</option>
         </select>

         <button class="btn btn-primary btn-sm btn-check-all-submit disabled">Áp dụng</button>
      </div>
   </div>


   <table class="table mt-4">
   <thead>
      <tr>
         <th scope="col"></th>
         <th scope="col">#</th>
         <th scope="col">
            Tên khoá học
            {{{sortable 'name' _sort}}}
            </th>
         <th scope="col">
            Thời gian tạo
            {{{sortable 'createdAt' _sort}}}
            </th>
         <th scope="col">
            Thời gian xoá
            {{{sortable 'deletedAt' _sort}}}
            </th>
      </tr>
   </thead>
   <tbody>

   {{#each courses}}
      <tr>
         <td>
            <div class="form-check">
               <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
            </div>
         </td>
         {{!-- tên_function đối_số_1 đối_số_2 --}}
         <th scope="row">{{sum @index 1}}</th>
         <td>{{this.name}}</td>
         <td>{{this.createdAt}}</td>
         <td>{{this.deletedAt}}</td>
         <td>
            <a href="" class="btn btn-success btn-restore" data-bs-id="{{this._id}}">Khôi phục</a>
            <a href="" class="btn btn-success" data-bs-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xoá</a>
         </td>
      </tr>
   {{else}}
      <tr>
         <td colspan="4" class="text-center">Không có khoá học nào đã xoá.
            {{!-- <a href="/courses/create">Đăng khoá học</a> --}}
         </td>
      </tr>

   {{/each}}

   </tbody>
</table>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Đồng ý xoá ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục, bạn có chắc chắn xoá khoá học này ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        <button id="btn-delete" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-course-form" method="POST" ></form>
<form name="restore-course-form" method="POST" ></form>


<script>
   const deleteCourse = document.getElementById('delete-course-modal');
   const restoreBtnAll = document.querySelectorAll('.btn-restore');
   let courseId;
   let deleteForm = document.forms['delete-course-form'];
   let restoreForm = document.forms['restore-course-form'];
   deleteCourse.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget;
      // Extract info from data-bs-* attributes
      courseId = button.getAttribute('data-bs-id');
   })

   const btnDelete = document.getElementById('btn-delete');
   btnDelete.addEventListener('click', () => {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
   })

   // restore course
   restoreBtnAll.forEach(restoreBtn => {
      restoreBtn.addEventListener('click', (e) => {
         e.preventDefault(); // bỏ đi hành vi mặc định của thẻ a (tự reset lại trang khi k gán link href)
         courseId = restoreBtn.getAttribute('data-bs-id');
         restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
         restoreForm.submit();
      })
   })
</script>

<script>
   const checkAll = document.querySelector('#check-all');
   const courseItemCheckboxAll = document.querySelectorAll('input[name="courseIds[]"]');
   const checkAllSubmitBtn = document.querySelector('.btn-check-all-submit');

   checkAll.addEventListener('change', () => {
      if (checkAll.checked) {
         courseItemCheckboxAll.forEach(courseItemCheckbox => {
            courseItemCheckbox.checked = true;
         })
      } else {
         courseItemCheckboxAll.forEach(courseItemCheckbox => {
            courseItemCheckbox.checked = false;
         })
      }
      renderCheckAllSubmitBtn();
   })


   courseItemCheckboxAll.forEach(courseItemCheckbox => {
      courseItemCheckbox.addEventListener('change', () => {
         let count = 0;
         courseItemCheckboxAll.forEach(courseItemCheckbox => {
            if (courseItemCheckbox.checked) {
               count++;
            }
         })
         if (count === courseItemCheckboxAll.length) {
            checkAll.checked = true;
         } else {
            checkAll.checked = false;
         }
         renderCheckAllSubmitBtn();
      })
   })

   function renderCheckAllSubmitBtn() {
         let count = 0;
      courseItemCheckboxAll.forEach(courseItemCheckbox => {
         if (courseItemCheckbox.checked) {
            count++;
         }
         if (count > 0) {
            checkAllSubmitBtn.classList.remove('disabled');
         } else {
            checkAllSubmitBtn.classList.add('disabled');
         }
      })
   }
</script>